/*white mode*/
/*body {*/
/*    font: 20px Medium, sans-serif;*/
/*    color: var(--dark);*/
/*    background-color: var(--white);*/
/*    margin: 0;*/
/*}*/

/*dark mode*/
body {
  font: 20px Medium, sans-serif;
  color: var(--white);
  background-color: var(--dark);
  margin: 0;
  width: 100%;
  position: relative;
}


.cursor-pointer {
  cursor: pointer;
}

/*menu-menu*/

.photoLandingImage {
  width: 100%;
}

.picture-holder {
  display: block;
}

/*desktop*/
.portfolio-container {
  padding: 3rem;
}


@media (min-width: 1200px) {
  .portfolio-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
  }

}

.portfolio-intro-content {
  padding: 0 0 0 15px;
}

.portrait {
  width: 100%;
  bottom: 0;
  padding: 5.5em 0 0 0;
}

.mini-portraits {
  width: 100%;
  padding: .5em;
}

.portfolio-intro {
  .title {
    padding: 0 1em;
    top: 0;
    position: absolute;
    mix-blend-mode: difference;
    z-index: 1;

    .main {
      font: 4.2em Fancy-Semibold, sans-serif;
    }

    .sub {
      padding-top: 0.6em;
      font: 1.6em ExtraLight, sans-serif;
    }
  }
}

.subTitle {
  padding: 0.5em;

  .main {
    font: 2.6em Fancy-Semibold, sans-serif;
  }

  .description {
    font: 1.3em ExtraLight, sans-serif;
  }
}

.Visual_Capture_portfolio {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

.circle_blur_ {

  &gold {
    background-color: var(--yellow);
    filter: blur(150px);
    position: absolute;
    left: -35%;
    opacity: .35;
    z-index: -1;
    width: 55%;
    height: 25%;
    aspect-ratio: 2;
    border-radius: 1000vmax 1000vmax 0 0;
  }

  &gold_right {
    background-color: var(--yellow);
    filter: blur(150px);
    position: absolute;
    right: -30%;
    opacity: 0.35;
    z-index: -1;
    width: 55%;
    height: 15%;
    aspect-ratio: 2;
    border-radius: 1000vmax 1000vmax 0 0;
  }

  &blue {
    background-color: var(--blue);
    filter: blur(150px);
    position: absolute;
    //right: -25%;
    opacity: .5;
    z-index: -1;
    width: 55%;
    aspect-ratio: 2;
    border-radius: 1000vmax 1000vmax 0 0;
    width: 50em;
    z-index: 0;
    right: -35%;
    top: -20%;
  }

  &green {
    background-color: var(--lightgreen);
    filter: blur(150px);
    position: absolute;
    right: -30%;
    top: 12em;
    opacity: .4;
    z-index: -1;
    width: 60%;
    height: 60%;
    aspect-ratio: 2;
    border-radius: 1000vmax 1000vmax 0 0;
  }

  &purple {
    background-color: var(--purple);
    filter: blur(150px);
    position: absolute;
    right: -30%;
    top: 85em;
    opacity: .3;
    z-index: -1;
    width: 60%;
    height: 20%;
    aspect-ratio: 2;
    border-radius: 1000vmax 1000vmax 0 0;
  }

  &green {
    background-color: var(--green);
    filter: blur(150px);
    position: absolute;
    right: -30%;
    opacity: .6;
    z-index: -1;
    width: 60%;
    height: auto;
    aspect-ratio: 2;
    border-radius: 1000vmax 1000vmax 0 0;
  }


  &gold_footer {
    background-color: var(--yellow);
    filter: blur(150px);
    position: absolute;
    left: -25%;
    opacity: .6;
    bottom: -6em;
    z-index: -1;
    width: 55%;
    height: auto;
    aspect-ratio: 2;
    border-radius: 1000vmax 1000vmax 0 0;
  }


  &blue_footer {
    background-color: var(--lightblue);
    filter: blur(150px);
    position: absolute;
    right: 20%;
    opacity: .6;
    z-index: -1;
    margin-top: 6em;
    width: 40%;
    height: auto;
    aspect-ratio: 2;
    border-radius: 1000vmax 1000vmax 0 0;
  }
}


.ourStoryText {
  .coloredTitle {
    color: var(--yellow);
    font: 1em ExtraLight, sans-serif;
  }

  .title {
    margin-top: 0.1em;
    font: 3.2em Fancy-Semibold, sans-serif;
  }

  .text {
    font: 1em Medium, sans-serif;
  }

}

//desktop
@media screen and (min-width: 1900px) {
  .subTitle {
    .main {
      font: 2.8em Fancy-Semibold, sans-serif;
    }

    .description {
      font: 1.4em ExtraLight, sans-serif;
    }
  }
}

//tablet
@media screen and (max-width: 996px) {

  .portfolio-intro {
    .title {
      padding: 1em 1em;
      top: 0;
      position: absolute;
      mix-blend-mode: difference;

      .main {
        font: 3.2em Fancy-Semibold, sans-serif;
      }

      .sub {
        padding-top: 0.6em;
        font: 1.4em ExtraLight, sans-serif;
      }
    }
  }

  .subTitle {
    .main {
      font: 2em Fancy-Semibold, sans-serif;
    }

    .description {
      font: 1em ExtraLight, sans-serif;
    }
  }

}

//mobile
@media screen and (max-width: 768px) {
  .portfolio-intro-content {
    padding: 0;
  }

  .portfolio-intro {
    .title {
      padding: 1.5em .5em;
      top: 0;
      position: absolute;
      mix-blend-mode: difference;

      .main {
        font: 2.8em Fancy-Semibold, sans-serif;
      }

      .sub {
        padding-top: 0.6em;
        font: 1.2em ExtraLight, sans-serif;
      }
    }
  }

  .portfolio-container {
    padding: 1rem;
  }
}

@media screen and (max-width: 720px) {
  .subTitle {
    .main {
      font: 2em Fancy-Semibold, sans-serif;
    }

    .description {
      font: 1em ExtraLight, sans-serif;
    }
  }

}


.footer {
  .VC_logo {
    color: var(--white);
  }
  .footer_desc {
    color: var(--white);
  }
}