@charset "UTF-8";
:root {
  --bg-color: #575757;
  --card-color: #ffffff;
  --hover-card: rgb(208, 184, 102, .15);
  --hover-card-border: rgb(208, 184, 102, .5);
}

.swiper-slide-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
}

#swiper-wrapper:hover > .swiper-slide::after {
  opacity: 1;
}

.swiper-slide {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  display: flex;
  height: 320px;
  flex-direction: column;
  position: relative;
  width: 320px;
  border-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 8px 24px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 8px 24px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 8px 24px;
  margin: 5em 0;
}

.swiper-slide:hover::before {
  opacity: 1;
}

.swiper-slide::before,
.swiper-slide::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.swiper-slide::before {
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), var(--hover-card), transparent 40%);
  z-index: 3;
}

.swiper-slide::after {
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y), var(--hover-card-border), transparent 40%);
  z-index: 1;
}

.swiper-slide-picture {
  text-align: center;
  margin: 1.2em 0 1em 0;
}

.swiper-slide-icon {
  height: 88px;
  z-index: 2;
  filter: grayscale(1);
  transition: 0.25s ease-in-out;
}

.swiper-slide:hover .swiper-slide-icon {
  filter: grayscale(0);
}

.swiper-slide > .swiper-content {
  background-color: var(--card-color);
  border-radius: 8.5px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 2px;
  padding: 2.4em 10px;
  position: absolute;
  z-index: 2;
}

/* -- ↓ ↓ ↓ extra swiper-slide content styles ↓ ↓ ↓ -- */
i {
  color: #f0f0f0;
}

.swiper-slide-image {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: center;
  overflow: hidden;
}

.swiper-slide-image > i {
  font-size: 6em;
  opacity: 0.25;
}

.swiper-slide-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 14px;
}

.swiper-slide-info .title {
  font: 1em Fancy-Semibold, sans-serif;
  padding-bottom: 0;
}
.swiper-slide-info .desc {
  margin-top: 1em;
  font: 0.8em ExtraLight, sans-serif;
  height: 4em;
}

.swiper-slide-info > i {
  font-size: 1em;
  height: 20px;
  line-height: 20px;
}

.swiper-slide-info-title > h3 {
  font-size: 1.1em;
  line-height: 20px;
}

.swiper-slide-info-title > h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */
@media (max-width: 1000px) {
  body {
    align-items: flex-start;
    overflow: auto;
  }

  #swiper-wrapper {
    max-width: 1000px;
    padding: 10px 0px;
  }

  .swiper-slide {
    flex-shrink: 1;
    width: calc(50% - 4px);
  }
}
@media (max-width: 500px) {
  .swiper-slide {
    height: 180px;
  }

  .swiper-slide-image {
    height: 80px;
  }

  .swiper-slide-image > i {
    font-size: 3em;
  }

  .swiper-slide-info-wrapper {
    padding: 0px 10px;
  }

  .swiper-slide-info > i {
    font-size: 0.8em;
  }

  .swiper-slide-info-title > h3 {
    font-size: 0.9em;
  }

  .swiper-slide-info-title > h4 {
    font-size: 0.8em;
    margin-top: 4px;
  }
}
@media (max-width: 320px) {
  .swiper-slide {
    width: 100%;
  }
}

/*# sourceMappingURL=style_cards-carousel.css.map */
